<style>
  .card {
    width: 350px;
    height: 500px;
    border: 3px solid #252525;
    margin-top: 20px;
    transition: transform 0.3s; /*card hover animation */
    cursor: pointer;
  }

  .cardImageContainer {
    height: 75%;
    background-color: white;
    width: auto;
  }

  .cardImageContainer img {
    height: 100%;
    width: 100%;
  }

  .card:hover {
    transform: scale(1.02);
    border: 4px solid black;
  }

  .card-body {
    position: relative;
    height: 25%;
    padding: 15px;
    background-color: #e5cb8f;
  }

  .card-price {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .sale {
    position: absolute;
    z-index: 4;
    bottom: 95%;
    background-color: rgba(000, 0, 000, 0.7);
  }

  @media screen and (max-width: 750px) {
    .card {
      width: 250px;
      height: 350px;
    }
  }
</style>
<div class="card">
  <div class="cardImageContainer">
    <img src="<%= item.imageURL %>" alt="T-shirt image" />
  </div>
  <div class="card-body">
    <h6 class="card-size">Size: <%= item.size %></h6>
    <h5 class="card-price">Price: $<%= item.price %></h5>
    <% if (item.sale) { %>
    <p class="text-warning sale">On Sale!</p>
    <% } %>
  </div>
</div>
