<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/menu.ejs') %>
  <!-- flex container -->
  <div class="wrapper d-flex flex-wrap flex-column flex-sm-column flex-md-row flex-lg-row">
  
    <div id="homeBanner"></div>
  </div>
  <%- include('../partials/footer.ejs') %>
</div>
</body>