<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/menu.ejs') %>

    <div id="homeBanner"></div>
        <div class="sectionWrapper">
        <div class="catalog men">
            <a href="/shop" class="catalogbtn">Shop Mens</a>
        </div>

        <div class="catalog kids">
            <a href="/shop" class="catalogbtn">Shop Kids</a>
        </div>
        
        <div class="catalog women">
            <a href="/shop" class="catalogbtn">Shop women</a>
        </div>

        </div>
</body>
</html>
